.image1{
    height: 40%;
    min-height: 300px;
    object-fit: contain;
    min-width: 300px;
    width: 40%;
}
.image2{
    height: 20%;
    min-width: 250px;
    object-fit: contain;
    width: 20%;
}

@media only screen and (max-width: 768px) {
   .image1{
    height: 70%;
    width: 70%;;
   }
   .image2{
    height: 60%;
    width: 60%;
   }
  }